<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School</title>
</head>
<body>
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
   {% endif %}
   {% if messages %}
    {% for x in messages %}
            <div class="alert alert-danger">
                <strong>{{ x|escape }}</strong>
            </div>
    {% endfor %}
   {% endif %}
    <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
    <button type="submit" value='save' name='save'>Login</button>
</body>
</html>